* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #159a9c;
  --second-color: #002333;
  --tertiary-color: #b4bec9;
  --text-color: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  padding: 5px;
  font-weight: normal;
  background-color: var(--primary-color);
  color: var(--text-color);
}

header nav li {
  display: inline;
  margin: 10px;
}

header nav li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

header li a {
  color: var(--text-color);
  text-decoration: none;
}

header a:hover {
  color: var(--second-color);
}

.container {
  width: 100%;
  margin: 0 auto;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles article img {
  width: 70%;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.articles article {
  width: 33.3%;
  padding: 50px;
}

section {
  padding: 20px 0;
}

section h2,
articles {
  margin: 20px;
  text-align: center;
}

.articles article h3 {
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.articles article p {
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.articles article h3 {
  font-size: 20px;
}

#futebol {
  background-color: var(--text-color);
}

#futebol p {
  font-weight: normal;
}

#futebol,
h2 .articles article {
  color: var(--primary-color);
}

#e-sports {
  background-color: var(--primary-color);
  padding: 10px;
  color: var(--text-color);
}

#e-sports p {
  font-weight: normal;
}

.articles {
  justify-content: space-around;
  text-align: center;
}

#e-sports h2 {
  color: var(--text-color);
}

#contact {
  background-color: var(--text-color);
  width: 100%;
  margin: auto;
}

#contact h2 {
  color: var(--primary-color);
}

.contact-methods {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

form input,
form textarea,
form button {
  display: block;
  width: 450px;
  margin-bottom: 8px;
  padding: 8px;
}

form textarea {
  resize: none;
  height: 200px;
}

form button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

form button:hover {
  background-color: var(--second-color);
  transition: 0.5s;
}

input:focus,
textarea:focus {
  outline-color: var(--primary-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}

footer .social-links img {
  height: 25px;
}

.social-links li {
  display: inline;
}

.social-links li a {
  text-decoration: none;
  margin: 5px;
}
